  <app-search></app-search>
<div class="container">
  <!-- Recent Jobs -->
  <div class="sixteen columns">
    <div class="padding-right">
      <h3 class="margin-bottom-25">Recent Jobs</h3>
      <ul class="job-list">
        <app-job-item-summary
                *ngFor="let jobItem of jobItems | async"
                [jobItem]="jobItem"></app-job-item-summary>
      </ul>
      <a href="browse-jobs.html" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
      <div class="margin-bottom-55"></div>
    </div>
  </div>
</div>