<div id="titlebar">
  <div class="container">
    <div class="ten columns">
      <span><a href="browse-jobs.html"></a></span>
      <h2>{{(jobItem | async)?.title}} <span class="full-time">Full-Time</span></h2>
    </div>
    <div class="six columns">
      <a href="#" class="button dark"><i class="fa fa-bullhorn"></i> Share This Job</a>
    </div>
  </div>
</div>

<div class="container">

  <!-- Recent Jobs -->
  <div class="eleven columns">
    <div class="padding-right">

      <!-- Company Info -->
      <div class="company-info">
        <img src="assets/images/company-logo.png" alt="">
        <div class="content">
          <h4>{{(jobItem | async)?.companyName}}</h4>
          <span><a href="{{(jobItem | async)?.companyWebsite}}" target="_blank"><i class="fa fa-link"></i> {{(jobItem | async)?.companyWebsite}}</a></span>
          <span><a href="https://twitter.com/{{(jobItem | async)?.companyTwitter}}?lang=en" target="_blank"><i class="fa fa-twitter" target="_blank"></i> {{(jobItem | async)?.companyTwitter}}</a></span>
        </div>
        <div class="clearfix"></div>
      </div>

      <div [innerHTML]="(jobItem | async)?.description">
      </div>

      <br>

      <!-- Company About -->
      <div class="">
        <div class="content">
          <h4> About {{(jobItem | async)?.companyName}}</h4>
          <div [innerHTML]="(jobItem | async)?.companyDescription">
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Widgets -->
  <div class="five columns">

    <!-- Sort by -->
    <div class="widget">
      <h4>Overview</h4>
      <div class="job-overview">
        <ul>
          <li>
            <i class="fa fa-map-marker"></i>
            <div>
              <strong>Location:</strong>
              <span>{{(jobItem | async)?.location}}</span>
            </div>
          </li>
          <li>
            <i class="fa fa-user"></i>
            <div>
              <strong>Job Title:</strong>
              <span>{{(jobItem | async)?.title}}</span>
            </div>
          </li>
          <li>
            <i class="fa fa-money"></i>
            <div>
              <strong>Rate:</strong>
              <span>${{ (jobItem | async)?.salaryMin}} - ${{ (jobItem | async)?.salaryMax}}</span>
            </div>
          </li>
        </ul>

        <a href="#small-dialog" class="popup-with-zoom-anim button">Apply For This Job</a>

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
          <div class="small-dialog-headline">
            <h2>Apply For This Job</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Widgets / End -->
</div>
<div class="margin-bottom-55"></div>