<li (click)="loadDetails(jobItem)">
  <img src="assets/images/job-list-logo-01.png" alt="">
  <div class="job-list-content" >
    <h4>{{ jobItem.title }} <span class="full-time">Full-Time</span></h4>
    <div class="job-icons">
      <span><i class="fa fa-briefcase"></i> {{ jobItem.companyName }}  </span>
      <span><i class="fa fa-map-marker"></i> {{ jobItem.location }}  </span>
      <span><i class="fa fa-money"></i> ${{ jobItem.salaryMin}} - ${{ jobItem.salaryMax}} </span>
    </div>
  </div>
  <div class="clearfix"></div>
</li>