<header class="sticky-header">
  <div class="container">
    <div class="sixteen columns">

      <!-- Logo -->
      <div id="logo">
        <h1><a routerLink="/list">WebJobs</a></h1>
      </div>

      <!-- Menu -->
      <nav id="navigation" class="menu">
        <ul class="float-right">
          <li><a routerLink="/list"><i class="fa fa-list"></i> Jobs List</a></li>
          <li><a routerLink="/postajob"><i class="fa fa-pencil"></i> Post a Job</a></li>
        </ul>
      </nav>

      <!-- Navigation -->
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
      </div>

    </div>
  </div>
</header>
<div class="clearfix"></div>
