<div id="banner" class="with-transparent-header parallax background" style="background-image: url(images/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330" data-diff="300">
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <!-- Form -->
        <h2>Find a great job</h2>
        <input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" (keyup)="doSearch()" />
        <input type="text" class="ico-02" placeholder="city, province or region" value=""/>
        <button><i class="fa fa-search"></i></button>
        <!-- Browse Jobs -->
        <div class="browse-jobs">
          Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
        </div>
      </div>
    </div>
  </div>
</div>