<div id="titlebar" class="single submit-page">
  <div class="container">
    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> Post a Job</h2>
    </div>
  </div>
</div>

<div class="container">

  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)">

        <div class="divider"><h3>Contact Details</h3></div>

        <!-- Email -->
        <div class="form">
          <h5>Your Email</h5>
          <input class="search-field" type="text" placeholder="mail@example.com" formControlName="email" />
        </div>

        <div class="divider"><h3>Job Details</h3></div>

        <!-- Title -->
        <div class="form">
          <h5>Job Title</h5>
          <input class="search-field" type="text" placeholder="" value="" formControlName="title" />
        </div>

        <!-- Location -->
        <div class="form">
          <h5>Location</h5>
          <select data-placeholder="Choose Location" class="" formControlName="location">
            <option value="Remote">Remote</option>
            <option value="Auckland">Auckland</option>
            <option value="Wellington">Wellington</option>
            <option value="Christchurch">Christchurch</option>
            <option value="Tauranga">Tauranga</option>
          </select>
        </div>

        <!-- Job Type -->
        <div class="form">
          <h5>Job Type</h5>
          <select data-placeholder="Full-Time" class="" formControlName="jobType">
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
            <option value="Internship">Internship</option>
            <option value="Contractor">Contractor</option>
          </select>
        </div>

        <!-- Tags -->
        <div class="form">
          <h5>Job Tags <span>(optional)</span></h5>
          <input class="search-field" type="text" placeholder="e.g. PHP, Social Media, Management" value="" formControlName="tags" />
          <p class="note">Comma separate tags, such as required skills or technologies, for this job.</p>
        </div>

        <!-- Description -->
        <div class="form">
          <h5>Description</h5>
          <textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true" formControlName="description"></textarea>
        </div>

        <!-- Salary -->
        <div class="form">
          <h5>Salary <span>(optional)</span></h5>
          <div>
            <input type="text" placeholder="Minimum" formControlName="salaryMin">
            <p class="note">E.g. 90,000.</p>
          </div>
          <div>
            <input type="text" placeholder="Maximum" formControlName="salaryMax">
            <p class="note">E.g. 120,000.</p>
          </div>
        </div>

        <!-- Application email/url -->
        <div class="form">
          <h5>Application email / URL</h5>
          <input type="text" placeholder="Enter an email address or website URL" formControlName="applicationDetails">
        </div>

        <!-- Company Details -->
        <div class="divider"><h3>Company Details</h3></div>

        <!-- Company Name -->
        <div class="form">
          <h5>Company Name</h5>
          <input type="text" placeholder="Enter the name of the company" formControlName="companyName">
        </div>

        <!-- Tagline -->
        <div class="form">
          <h5>Description <span>(optional)</span></h5>
          <textarea class="" placeholder="Briefly describe your company" cols="40" rows="3" spellcheck="true" formControlName="companyDescription"></textarea>
        </div>

        <!-- Website -->
        <div class="form">
          <h5>Website <span>(optional)</span></h5>
          <input type="text" placeholder="https://yourcompany.com" formControlName="companyWebsite">
        </div>

        <!-- Twitter -->
        <div class="form">
          <h5>Twitter Username <span>(optional)</span></h5>
          <input type="text" placeholder="@yourcompany" formControlName="companyTwitter">
        </div>

        <!-- Logo -->
        <div class="form">
          <h5>Logo <span>(optional)</span></h5>
          <label class="upload-btn">
            <input type="file" multiple />
            <i class="fa fa-upload"></i> Browse
          </label>
          <span class="fake-input">No file selected</span>
        </div>

        <div class="divider margin-top-0"></div>
        <!--<a href="#" class="button big margin-top-5">Preview <i class="fa fa-arrow-circle-right"></i></a>-->

        <button type="submit" [disabled]="!form.valid"><i class="fa fa-arrow-circle-right"></i> Post Job</button>


      </form>
    </div>
  </div>
</div>
<div class="margin-bottom-55"></div>